tensorflow==2.9.1
tensorflow-estimator==2.9.0
# tensorflow-io-gcs-filesystem==0.31.0keras
pandas
numpy==1.24.3
jupyter
notebook
tqdm
opencv-contrib-python
scikit-learn
SpeechRecognition==3.14.2
PyAudio==0.2.14
gtts
playsound
